Package: webremote4handhelds
Version: 1.0
Description: WebRemote for handhelds
Architecture: mipsel
Section: extra
Priority: optional
Maintainer: Stefan Endrullis <stefan@endrullis.de>
Homepage: https://open-dreambox.org/trac/dreambox/wiki/WebRemoteForHandhelds
Depends: enigma2-plugin-extensions-webinterface(>1.0cvs20060516)
Source: http://www.beispieldomain.de/files/dreambox/sources
